@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

div {
    display: block;
}

@keyframes animate {
    0% {
        top: 300px;
    }

    25% {
        top: 320px;
    }

    50% {
        top: 340px;
    }

    75% {
        top: 360px;
    }

    100% {
        top: 380px;
    }
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 760px;
    margin: 0 auto;
}

.main::before {
    content: "";
    display: block;
    position: fixed;
    width: 300%;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translateX(-50%) skewY(-8deg);
    background-color: #f6c90e;
    z-index: -1;
    -webkit-animation: animate 8s ease-in-out infinite alternate;
    animation: animate 8s ease-in-out infinite alternate;
}

.card {
    background-color: #fff;
    box-sizing: border-box;
    width: 360px;
    height: 600px;
    box-shadow: 0 3.2px 2.2px rgba(0, 0, 0, .02), 0 7px 5.4px rgba(0, 0, 0, .028), 0 12.1px 10.1px rgba(0, 0, 0, .035), 0 19.8px 18.1px rgba(0, 0, 0, .042), 0 34.7px 33.8px rgba(0, 0, 0, .05), 0 81px 81px rgba(0, 0, 0, .07);
    border-radius: 30px;
    overflow: hidden;
    padding: 0 28px;
    position: relative;
    margin-bottom: 20px;
}

.card::before {
    content: "";
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #f6c90e;
    top: -20%;
    left: -50%;
    z-index: 0;
}

.image-icon {
    margin-top: 12px;
    margin: 12px 0;
    position: relative;
}

.icon {
    width: 50px;
    height: 26px;
}

.main-title {
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.content-scroll {

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.content-scroll .list-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;
    height: calc(100% - 98px);
}

.list-card .card-child {
    padding-bottom: 40px;
}

.image-card {
    border-radius: 30px;
    height: 380px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.img-card {
    width: 100%;
    filter: drop-shadow(0 30px 20px rgba(0, 0, 0, .2));
    transform: rotate(-24deg);
    margin-left: -16px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    margin: 26px 0 20px;
    line-height: 1.5;
}

.description {
    font-size: 13px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 20px;
}

.detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail .price {
    font-size: 18px;
    font-weight: 700;
}

.detail .add-cart {
    cursor: pointer;
    background-color: #f6c90e;
    font-weight: 700;
    font-size: 14px;
    box-sizing: border-box;
    width: auto;
    height: 46px;
    min-width: 46px;
    padding: 16px 20px;
    border-radius: 100px;
    transition: all .25s ease;
    border: none;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.main-title .price {
    font-size: 24px;
}

.item {
    padding: 20px 0;
    display: flex;
}

.item .left .image-cart {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 34px;
}

.image-cart img {
    display: block;
    width: 140%;
    transform: rotate(-28deg) translateY(-40px);
    filter: drop-shadow(0 30px 20px rgba(0, 0, 0, .2));
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right .name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
}

.right .price {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.quantity .control {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.control .number {
    font-size: 14px;
    margin: 0 8px;
    width: 20px;
    text-align: center;
}

.btn-ctl {
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: #eee;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove {
    width: 28px;
    height: 28px;
    background-color: #f6c90e;
}

.remove img {
    width: 16px;
    height: 16px;
}

.empty {
    font-size: 14px;
    font-weight: 300;
}